/*  
h1::before{
    content: 'gay lol';
} */


* {
    --btn-color: rgba(200,200,200,1);
    margin: 0;
    /* width: auto;
    height: auto; */
}

button {
    border-style: none;
    background-color: var(--btn-color);
}

body {
    width: 100%;
    /* height: 100%; */
}

.topbar {
    backdrop-filter: brightness(25%);
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    /* width: 100%; */
    top: 0;
}

#downbar-progress {
    position: relative;
    top: 8px;
    border-radius: 50%;
    width: 100%;
}

.downbar {
    height: auto;
    width: 95%;
    margin-left: 2.5%;
    position: absolute;
    backdrop-filter: brightness(25%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    bottom: 0;
}

section.controls {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.sidebar[data-hidden="true"] {
    animation: slide-out-left 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.sidebar[data-hidden="false"] {
    animation: slide-in-left 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.sidebar {
    z-index: 5;
    backdrop-filter: brightness(25%) blur(10px);
    position: absolute;
    left: -100%;
    top: 0;
    height: 100%;
    width: 30%;
    overflow-y: scroll;
    /* display: none; */
}
main {
    /* min-height: 100%; */
    width: 100%;
}

.midsection {
    position: absolute;
    left: 0;
    top: 0;
    /* margin-bottom: 4vh; */
    /* min-height: 100vh; */
    /* background-color: gray; */
    max-width: 100%;
    max-height: 90%;
    padding-top: 10%;
    /* min-height: min-content; */
    margin: 0;
}

.titles-and-such {
    border-radius: 5px;
    backdrop-filter: brightness(150%) contrast(70%);
    text-align: center;
    padding: 20px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    /* margin-top: auto; */
    width: 50%;
    height: 50%;
    /* width: max-content; */
    /* height: max-content; */
    /* transform: translateY(-65%); */
    /* width: 100%; */
}
.titles-and-such > p {
    text-align: center;
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: auto; */
}

#song-bg-image {
    position: absolute;
    /* background-image: var(--bg-image) */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top:0;
    left:0;
    z-index: -1;
    height: 100%;
    width: 100%;
    filter: blur(50px) brightness(40%);
}


.song-details > img.song-image {
   height: 100%;
   width: 100%;

}

.titles-and-such > .song-details {
}



@keyframes slide-in-left {

    0% {
        position: absolute;
        left: -100%;
    }
    100% {
        position: absolute;
        left: 0;
    }
}

@keyframes slide-out-left {

    100% {
        position: absolute;
        left: -100%;
    }
    0% {
        position: absolute;
        left: 0;
    }
}